@model IEnumerable<Product>

@{
    Layout = "_AdminLayout";
}

<div class="row">
    @if (Model != null && Model.Any())
    {
        @foreach (var p in Model)
        {
            <div class="col-sm-12 col-lg-6 col-xl-4 pt-1">
                <div class="product-tile border-radius p-3">
                    <h4>
                        @p.Name
                    </h4>
                    <h6>
                        @p.Description
                    </h6>
                    <h5>
                        @p.Price
                    </h5>

                    <a asp-controller="Admin"
                       asp-action="Edit"
                       asp-route-id="@p.ProductId">
                        <button type="button" class="btn btn-outline-warning">Edit</button>
                    </a>

                    <a asp-controller="Admin"
                       asp-action="Delete"
                       asp-route-id="@p.ProductId">
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </a>

                </div>
            </div>
        }
    }
</div>