@model IEnumerable<Product>

@{
    Layout = "_Layout";
}

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-sm-12 col-md-6 col-lg-4 p-1">
            <div class="product-tile border-radius p-3">
            <h4>
                @p.Name
            </h4>
            @p.Description
            <h5>
                @p.Price
            </h5>

            <a asp-controller="Admin"
               asp-action="Edit"
               asp-route-id="@p.ProductId">
                <button type="button" class="btn btn-outline-warning">Edit</button>
            </a>

            <a asp-controller="Admin"
               asp-action="Delete"
               asp-route-id="@p.ProductId">
                <button type="button" class="btn btn-outline-danger">Delete</button>
            </a>

        </div>
        </div>
    }
</div>